/*FOOTER CSS*/
@import url(../styles/styles.css);


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 40px;
}
@media (max-width: 768px) {
    .footer {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}