/*UTILITIES CSS*/
@import url(../styles/styles.css);

.padding-top-64 {
    padding-top: 64px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-24 {
    padding-top: 24px;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-120 {
    line-height: 120%;
}

.line-height-140 {
    line-height: 140%;
}

.line-height-160 {
    line-height: 160%;
}

.line-height-180 {
    line-height: 180%;
}